@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin icon-img ($width, $height, $src) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  background-image: $src;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin mask-img ($width, $height, $src, $bg) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  mask-image: $src;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background: $bg;
}
