// Fonts
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// Width points
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Font weight
$font-weight-normal: 400;

// Text color
$light-text: #ffffff;
$gray-text: #444444;
$dark-gray-text: #222222;
$dark-text-lighten: #111111;
$dark-text: #000000;

// Background
$bg-default: #ffffff;
$bg-primary: #68b738;
$bg-secondary: #f2f2f2;

// Colors
$light-gray: #cdcdcd;
