.about__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 1.11;
  font-weight: $font-weight-normal;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }
}

.about__list {
  font-size: 14px;
  line-height: 1.28;
  font-weight: $font-weight-normal;
  color: $gray-text;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.about__description {
  margin: 0;
}
