.about__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 1.11;
  font-weight: $font-weight-normal;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }
}

.about__list {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 1.28;
  font-weight: $font-weight-normal;
  color: $gray-text;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.about__item {
  &::before {
    background-color: $bg-primary;
  }

  &--leaf::before {
    @include icon-img (30px, 32px, url("../../icons/stack.svg#leaf"));
  }

  &--watter::before {
    @include icon-img (27px, 29px, url("../../icons/stack.svg#watter"));
  }

  &--eat::before {
    @include icon-img (26px, 30px, url("../../icons/stack.svg#eat"));
  }

  &--timer::before {
    @include icon-img (27px, 31px, url("../../icons/stack.svg#timer"));
  }
}

.about__description {
  margin: 0;
}
