.additional-product__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1;
  font-weight: $font-weight-normal;
  color: $dark-gray-text;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.25;
  }
}

.additional-product__button {
  font-size: 16px;
  line-height: 1.25;
}
