.additional-products__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 1;
  font-weight: $font-weight-normal;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
  }
}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
