.button {
  font-family: $secondary-font;
  font-weight: $font-weight-normal;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }

  &[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
  }

  &--primary {
    color: $light-text;
    background-color: $bg-primary;

    &:hover,
    &:focus-visible {
      background-color: $bg-primary-hover;
      outline: none;
    }

    &:active {
      color: rgba($light-text, 0.3);
      background-color: $bg-primary-hover;
    }
  }

  &--secondary {
    color: $gray-text;
    background-color: $bg-secondary;

    &:hover,
    &:focus-visible,
    &:active {
      background-color: $bg-secondary-hover;
      outline: none;
    }
  }

  &--transparent {
    background-color: transparent;
  }
}
