.contacts__container {
  background-color: $bg-default;
}

.contacts__message {
  font-family: $secondary-font;
  line-height: 1.25;
  text-transform: uppercase;
  color: $dark-text-lighten;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.3;
  }
}

.contacts__address {
  font-size: 14px;
  line-height: 1.42;
  color: $gray-text;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }
}
