.copyright {
  @include flex (row, space-between, center);
  width: 100%;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.25;
  color: $gray-text;
  margin: 20px 0;

  &::after {
    @include mask-img (27px, 34px, url("../../icons/stack.svg#academy"), $light-gray-text);
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    background-color: $bg-primary;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 23px;
    width: auto;
  }
}
