.example {
  background-color: $bg-light;
  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    background-color: $bg-default;
    background-image: linear-gradient(to top, $bg-light 462px, $bg-default 462px);
    padding: 45px 30px 101px;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-secondary;
    padding: 19px 110px 75px;
  }
}

.example__wrapper {
  @include flex (column, flex-start, normal);
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 224px;
    max-width: 1440px;
  }
}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 1.11;
  font-weight: $font-weight-normal;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__list-wrapper {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include flex (row, space-between, flex-start);
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    @include flex (column, flex-start, flex-start);
    gap: 55px;
    grid-column: 1/2;
    margin: 0;
  }
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 162px 162px;
    gap: 43px;
    margin: 0;
  }
}

.example__item {
  @include flex (column, flex-start, center);
}

.example__description {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 1.28;
  font-weight: $font-weight-normal;
  color: $gray-text;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 69px;
  }
}

.example__value {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $light-gray;
  border-radius: 4px;
  width: 124px;
  padding: 15px 0 17px;

  @media (min-width: $tablet-width) {
    width: 162px;
    padding: 15px;
    font-size: 30px;
    line-height: 1.23;
  }
}

.example__item-description {
  position: relative;
  top: -9px;
  width: 70%;
  background-color: $bg-light;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 1;
  color: $gray-text;
  text-transform: lowercase;
  text-align: center;
  margin: 0;
  padding: 0 10%;

  @media (min-width: $tablet-width) {
    width: auto;
    background-color: $bg-default;
    padding: 0 5%;
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-light;
  }
}

.example__total {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include flex (column, space-between, flex-end);
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    @include flex (row, space-between, center);
    gap: 63px;
  }
}

.example__slider {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  overflow: hidden;
  margin: 0 auto;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}

.example__before {
  grid-column: 1/2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.example__after {
  grid-column: 3/4;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.example__slider-button {
  grid-column: 2/3;
  width: 4px;
  background-color: $light-gray-text;
  border-radius: 4px;
  padding: 0;
  border: none;
  position: relative;
  cursor: col-resize;

  &::before {
    @include pseudo-element (40px, 40px);
    position: absolute;
    top: calc(50% - 20px);
    left: -18px;
    background-color: $bg-default;
    border-radius: 50%;
    border: 2px solid $light-gray-text;
  }

  &::after {
    @include pseudo-element (24px, 18px);
    position: absolute;
    top: calc(50% - 9px);
    left: -10px;
    mask-image: url("../../icons/stack.svg#slider-btn");
    background-color: $light-gray-text;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
  }
}
