.navigation {
  width: 100%;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 1;
  font-weight: $font-weight-normal;
  color: $dark-text;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include flex (row,flex-end,center);
    font-size: 18px;
    line-height: 1.33;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1.5;
  }

  &--main {
    @media (min-width: $desktop-width) {
      color: $light-text;
    }
  }
}

.navigation__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 21px;
  z-index: 10;

  &:hover::before,
  &:focus::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--close .navigation__toggle::before {
  @include pseudo-element (24px, 2px);
  position: absolute;
  top: 0;
  left: 0;
  background-color: $dark-text;
  box-shadow: 0 8px 0 0 $dark-text, 0 16px 0 0 $dark-text;
}

.navigation--open .navigation__toggle {
  top: 20px;

  &::before,
  &::after {
    @include pseudo-element (24px, 2px);
    position: absolute;
    background-color: $dark-text;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }
}
