.navigation {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 1;
  font-weight: $font-weight-normal;
  color: $dark-text;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 1.33;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1.5;
  }

  &--main {
    @media (min-width: $desktop-width) {
      // color: $light-text;
    }
  }
}
