.programs {
  @include flex (column, space-between, center);
  gap: 20px;
  padding: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 82px 110px 71px;
    flex-direction: row;
    gap: 80px;
  }
}

.programs__element {
  background-color: $bg-secondary;
  font-weight: $font-weight-normal;
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  padding: 21px 20px 0;
  align-items: center;
  column-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 200px;
    column-gap: 53px;
    padding: 77px 63px 53px 52px;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 1fr;
    column-gap: 62px;
    align-items: flex-end;

    &--slim {
      padding: 41px 61px 55px 52px;
    }

    &--pro {
      padding: 47px 67px 55px 52px;
    }
  }

  &--slim::before {
    @include icon-img (50px, 53px, url("../../icons/stack.svg#cat-slim"));
    grid-column: 1/2;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 211px;
      justify-self: center;
      grid-column: 2/3;
      grid-row: 1/4;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 106px;
      grid-column: 1/2;
      grid-row: 1/2;
      margin-bottom: 39px;
    }
  }

  &--pro::before {
    @include icon-img (67px, 50px, url("../../icons/stack.svg#cat-pro"));
    grid-column: 1/2;
    position: relative;
    left: -8px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 200px;
      left: -38px;
      grid-column: 2/3;
      grid-row: 1/4;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 100px;
      grid-column: 1/2;
      grid-row: 1/2;
      margin-bottom: 39px;
      left: -19px;
      margin-right: -19px;
    }
  }
}

.programs__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 1.54;
  font-weight: $font-weight-normal;
  color: $dark-text;
  text-transform: uppercase;
  margin: 0;
  grid-column: 2/4;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    margin-bottom: 73px;
  }
}

.programs__description {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 1.28;
  color: $gray-text;
  margin: 0;
  padding: 22px 0 23px;
  grid-column: 1/4;
  border-bottom: 1px solid $bg-accent-dark;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    color: $dark-text;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0;
    margin-bottom: 48px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    margin-bottom: 23px;
  }
}

.programs__link {
  @include flex (row, flex-start, center);
  gap: 15px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1;
  color: $dark-text;
  text-transform: uppercase;
  grid-column: 1/4;
  padding: 15px 0 18px;

  &::after {
    @include mask-img (24px, 12px, url("../../icons/stack.svg#arrow"), $dark-text);
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    grid-column: 1/2;
    grid-row: 3/4;
    gap: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }
}
