.promo {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 27px;
  font-family: $secondary-font;
  color: $light-text;
  background-color: $bg-primary;
  background-image:
    image-set(url("../../images/promo-cat-mobile@1x.webp") type("image/webp") 1x,
    url("../../images/promo-cat-mobile@2x.webp") type("image/webp") 2x,
    url("../../images/promo-cat-mobile@1x.png") type("image/png") 1x,
    url("../../images/promo-cat-mobile@1x.png") type("image/png") 2x);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  position: relative;

  &::before {
    @include pseudo-element (100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, (rgba(104, 183, 56, 0.85) 63%, $bg-default 63%));
  }

  @media (min-width: $tablet-width) {
    color: $dark-text;
    background-color: $bg-default;
    background-image: none;
    padding: 0 30px;
    padding-top: 40px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    background-image:
      linear-gradient(to right, $bg-default 50%, rgba(104, 183, 56, 0.85) 50%),
      image-set(url("../../images/promo-cat-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/promo-cat-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/promo-cat-desktop@1x.png") type("image/png") 1x,
      url("../../images/promo-cat-desktop@1x.png") type("image/png") 2x);
    background-position: center right;
    background-repeat: repeat no-repeat;
    background-size: auto contain;
  }
}

.promo__wrapper {
  @include flex (column, space-between, center);
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    text-align: start;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 1;
  font-weight: $font-weight-normal;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    width: 420px;
    margin-bottom: 40px;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 224px 0 40px 80px;
    grid-column: 1/2;
  }
}

.promo__tagline {
  font-size: 14px;
  line-height: 1;
  font-weight: $font-weight-normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-left: 90px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 80px;
    grid-column: 1/2;
  }
}

.promo__button {
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  order: 1;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.3;
    order: 0;
    width: 244px;
    padding: 14px 26px;
    z-index: 1;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 184px 80px;
    grid-column: 1/2;
  }
}

.promo__image {
  @media (min-width: $tablet-width) {
    margin-top: -73px;
  }
}
