.promo {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-family: $secondary-font;
  color: $light-text;
  margin-bottom: 20px;
  padding-top: 27px;

  &::before {
    @include pseudo-element (100%, auto, absolute);
    margin-bottom: 176px;
    inset: 0;
    background-image:
      linear-gradient(to right, rgba($bg-primary, 0.85), rgba($bg-primary, 0.85)),
      image-set(
        url("../../images/promo-cat-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/promo-cat-mobile@2x.webp") type("image/webp") 2x,
        url("../../images/promo-cat-mobile@1x.jpg") type("image/jpeg") 1x,
        url("../../images/promo-cat-mobile@2x.jpg") type("image/jpeg") 2x
      ),
      linear-gradient(to right, rgba($gray, 1), rgba($gray, 1));
    background-size: auto;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    color: $dark-text;
    background-color: $bg-default;
    margin-bottom: 0;
    padding: 0 30px;
    padding-top: 40px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    background-color: transparent;

    &::before {
      @include pseudo-element (100%, auto, absolute);
      margin: 0;
      inset: 0 0 0 50%;
      background-image:
        linear-gradient(to bottom, rgba($bg-primary, 0.85), rgba($bg-primary, 0.85)),
        image-set(
          url("../../images/promo-cat-desktop@1x.webp") type("image/webp") 1x,
          url("../../images/promo-cat-desktop@2x.webp") type("image/webp") 2x,
          url("../../images/promo-cat-desktop@1x.jpg") type("image/jpeg") 1x,
          url("../../images/promo-cat-desktop@2x.jpg") type("image/jpeg") 2x
        ),
        linear-gradient(to right, rgba($gray, 1), rgba($gray, 1));
      background-size: auto 694px;
      background-position: top left;
      background-repeat: no-repeat;
      z-index: 0;
    }
  }
}

.promo__wrapper {
  @include flex (column, space-between, center);
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    text-align: start;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    max-width: 1440px;
    padding: 0 110px;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 1;
  font-weight: $font-weight-normal;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    width: 420px;
    margin-bottom: 40px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 224px 0 40px 50px;
    grid-column: 1/2;
  }
}

.promo__tagline {
  font-size: 14px;
  line-height: 1;
  font-weight: $font-weight-normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-left: 60px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 50px;
    grid-column: 1/2;
  }
}

.promo__button {
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  order: 1;
  margin-top: 3px;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.3;
    order: 0;
    width: 244px;
    margin-left: 60px;
    padding: 14px 26px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 184px 50px;
    grid-column: 1/2;
  }
}

.promo picture,
.promo source {
  display: contents;
}

.promo__image {
  @media (min-width: $tablet-width) {
    margin-top: -82px;
    margin-left: -30px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin: 143px 0 0 -163px;
    grid-column: 2/3;
    grid-row: 1/4;
    z-index: 1;
  }
}
