.social-list {
  @include flex (row, space-between, center);
  gap: 24px;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  border-bottom: 1px solid $bg-accent-dark;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.social-list__link {
  &--vk {
    @include mask-img (28px, 22px, url("../../icons/stack.svg#vk"), $light-gray-text);
  }

  &--youtube {
    @include mask-img (28px, 22px, url("../../icons/stack.svg#youtube"), $light-gray-text);
  }

  &--tg {
    @include mask-img (28px, 22px, url("../../icons/stack.svg#tg"), $light-gray-text);
  }

  &:hover,
  &:focus {
    background-color: $bg-primary;
  }

  &:active {
    background-color: $bg-primary;
    opacity: 0.3;
  }
}
